@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;

    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgba(101, 101, 101, 0.552);
}

header {
    background-color: rgb(0, 0, 0);
}

header > h1 {
    padding: 10px;
    text-align: center;
    color: red;
}
header > p {
    text-align: center;
    font-size: 20px;
    color: red;
    padding: 10px;
}

menu > ul > li > a {
    display: block;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(83, 83, 83);
    color: white;
    border: 1px solid rgb(154, 154, 154);
}
menu > ul {
    list-style-type: none;
    display: flex;
    gap: 8px;
    align-items: center;
}
menu {
    display: flex;
    justify-content: flex-start;
    padding: 0 10px 10px;
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2 {
    padding-bottom: 20px;
    text-align: center;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}
